/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-coins:before {
  content: "\ea02";
}

.nc-icon.nc-stre-down:before {
  content: "\ea03";
}

.nc-icon.nc-crown:before {
  content: "\ea04";
}

.nc-icon.nc-crown-2:before {
  content: "\ea05";
}

.nc-icon.nc-handshake:before {
  content: "\ea06";
}

.nc-icon.nc-payment:before {
  content: "\ea07";
}

.nc-icon.nc-handout:before {
  content: "\ea09";
}

.nc-icon.nc-conversion:before {
  content: "\ea0a";
}

.nc-icon.nc-computer:before {
  content: "\ea0b";
}

.nc-icon.nc-open-to-close:before {
  content: "\ea0c";
}

.nc-icon.nc-bitcoin:before {
  content: "\ea0d";
}

.nc-icon.nc-link-67:before {
  content: "\ea0e";
}

.nc-icon.nc-cloud-refresh:before {
  content: "\ea0f";
}

.nc-icon.nc-wallet-90:before {
  content: "\ea10";
}

.nc-icon.nc-security:before {
  content: "\ea11";
}

.nc-icon.nc-square-simple-up:before {
  content: "\ea13";
}

.nc-icon.nc-square-simple-down:before {
  content: "\ea14";
}

.nc-icon.nc-menu-to-hide:before {
  content: "\ea16";
}

.nc-icon.nc-simple-remove:before {
  content: "\ea17";
}

.nc-icon.nc-file-download-94:before {
  content: "\ea18";
}

