/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-coins:before {
  content: "\ea02";
}

.nc-icon.nc-stre-down:before {
  content: "\ea03";
}

.nc-icon.nc-crown:before {
  content: "\ea04";
}

.nc-icon.nc-crown-2:before {
  content: "\ea05";
}

