/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-coins:before {
  content: "\ea02";
}

.nc-icon.nc-stre-down:before {
  content: "\ea03";
}

.nc-icon.nc-crown:before {
  content: "\ea04";
}

.nc-icon.nc-crown-2:before {
  content: "\ea05";
}

.nc-icon.nc-handshake:before {
  content: "\ea06";
}

.nc-icon.nc-payment:before {
  content: "\ea07";
}

.nc-icon.nc-handout:before {
  content: "\ea09";
}

.nc-icon.nc-conversion:before {
  content: "\ea0a";
}

.nc-icon.nc-computer:before {
  content: "\ea0b";
}

.nc-icon.nc-open-to-close:before {
  content: "\ea0c";
}

